@layer components {
  .alert {
    @apply rounded-lg shadow-medium p-4 flex gap-2 w-full;
    @apply transition-opacity ease-in duration-200;
  }

  .alert-body {
    @apply grow;
  }

  .alert-close {
    @apply !text-inherit -mt-2 -mr-2;
  }

  .alert--default {
    --alert: hsl(var(--content));
    --alert-foreground: hsl(var(--content-foreground));
    --alert-flat: hsl(var(--content));
    --alert-flat-foreground: hsl(var(--content-foreground));
  }

  .alert--primary {
    --alert: hsl(var(--primary));
    --alert-foreground: hsl(var(--primary-foreground));
    --alert-flat: hsl(var(--primary) / 0.2);
    --alert-flat-foreground: hsl(var(--foreground));
  }

  .alert--secondary {
    --alert: hsl(var(--secondary));
    --alert-foreground: hsl(var(--secondary-foreground));
    --alert-flat: hsl(var(--secondary) / 0.2);
    --alert-flat-foreground: hsl(var(--foreground));
  }

  .alert--success {
    --alert: hsl(var(--success));
    --alert-foreground: hsl(var(--success-foreground));
    --alert-flat: hsl(var(--success) / 0.2);
    --alert-flat-foreground: hsl(var(--foreground));
  }

  .alert--warning {
    --alert: hsl(var(--warning));
    --alert-foreground: hsl(var(--warning-foreground));
    --alert-flat: hsl(var(--warning) / 0.2);
    --alert-flat-foreground: hsl(var(--foreground));
  }

  .alert--danger {
    --alert: hsl(var(--danger));
    --alert-foreground: hsl(var(--danger-foreground));
    --alert-flat: hsl(var(--danger) / 0.2);
    --alert-flat-foreground: hsl(var(--foreground));
  }

  .alert--solid {
    @apply bg-[--alert] text-[--alert-foreground];
  }

  .alert--flat {
    @apply bg-[--alert-flat] text-[--alert-flat-foreground];
  }
}
