@layer components {
  .autocomplete {
    --autocomplete-option-active: hsl(var(--default));
    --autocomplete-option-active-foreground: hsl(var(--default-foreground));
    --autocomplete-option-highlight: hsl(var(--primary) / 0.4);
    --autocomplete-dropdown-caret: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' class='w-5 h-5'%3E%3Cpath fill-rule='evenodd' d='M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z' clip-rule='evenodd' /%3E%3C/svg%3E%0A");
    --autocomplete-dropdown-caret-color: hsl(var(--content1-foreground));
    --autocomplete-option-active-checkmark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' class='w-5 h-5'%3E%3Cpath fill-rule='evenodd' d='M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z' clip-rule='evenodd' /%3E%3C/svg%3E%0A");
    --autocomplete-option-active-checkmark-color: hsl(
      var(--content1-foreground)
    );
    --autocomplete-dropdown: hsl(var(--content1));
    --autocomplete-dropdown-foreground: hsl(var(--content1-foreground));
  }

  .field.autocomplete
    > .field-wrapper
    > .field-input-wrapper
    > .autocomplete-select {
    @apply bg-transparent w-full;
  }

  .ts-wrapper {
    @apply w-full pr-5 text-sm;
  }

  .ts-control {
    @apply w-full overflow-hidden relative box-border flex;
    @apply text-sm text-[--field-input];
  }

  .ts-control > .item {
    @apply truncate w-full;
  }

  .ts-control > input[role='combobox'] {
    @apply w-full bg-transparent  placeholder:text-[--field-placeholder];
  }

  .ts-dropdown {
    @apply absolute top-[100%] left-0 w-full z-[1000] mt-6;
  }

  .ts-dropdown > .ts-dropdown-content {
    box-shadow: var(--shadow-md);
    @apply bg-[--autocomplete-dropdown] text-[--autocomplete-dropdown-foreground];
    @apply p-2 rounded-xl text-sm subpixel-antialiased outline-none box-border;
  }

  .ts-dropdown > .ts-dropdown-content > .option {
    @apply relative pl-2 pr-8 py-1.5 break-words;
    @apply cursor-pointer rounded-lg subpixel-antialiased;
    @apply tap-highlight-transparent outline-none;
  }

  .ts-dropdown > .ts-dropdown-content > .option.active {
    @apply bg-[--autocomplete-option-active] text-[--autocomplete-option-active-foreground];
  }

  .ts-dropdown > .ts-dropdown-content > .option[aria-disabled='true'] {
    @apply opacity-[--disabled-opacity] cursor-default;
  }

  .ts-dropdown > .ts-dropdown-content > .option[data-selectable] > .highlight {
    @apply bg-[--autocomplete-option-highlight];
  }

  .field.autocomplete > .field-wrapper > .field-input-wrapper:after {
    -webkit-mask-image: var(--autocomplete-dropdown-caret);
    mask-image: var(--autocomplete-dropdown-caret);
    background: var(--autocomplete-dropdown-caret-color);
    @apply content-[""] right-0 top-2 absolute;
    @apply w-5 h-5 transition-transform;
  }

  .field.autocomplete[data-focus='true']
    > .field-wrapper
    > .field-input-wrapper:after {
    @apply rotate-180;
  }

  .field.autocomplete[data-has-label='true'] .ts-dropdown {
    @apply mt-4;
  }

  .ts-dropdown > .ts-dropdown-content > .option.selected:after {
    -webkit-mask-image: var(--autocomplete-option-active-checkmark);
    mask-image: var(--autocomplete-option-active-checkmark);
    background: var(--autocomplete-option-active-checkmark-color);
    @apply w-4 h-4 content-[""] absolute right-2;
    @apply top-[50%] -translate-y-[50%];
  }

  .ts-wrapper.dropdown-active > .ts-control > .item,
  .ts-wrapper.input-active > .ts-control > .item {
    @apply max-w-[0%];
  }

  .ts-dropdown > .ts-dropdown-content {
    @apply opacity-0 scale-95 transition-transform-opacity duration-150 origin-[left_top] ease-out;
  }

  .ts-dropdown > .ts-dropdown-content.open {
    @apply opacity-100 scale-100 ease-in;
  }

  /* Blank option */
  .ts-dropdown > .ts-dropdown-content > .option.selected[data-value='']:after {
    display: none;
  }

  .ts-dropdown > .ts-dropdown-content > .option[data-value=''] {
    @apply min-h-[2rem];
  }

  .ts-control > .item[data-value=''] {
    @apply text-[--field-placeholder];
  }

  /* Multiple */
  .ts-wrapper.multi > .ts-control > .item:not(.autocomplete-multi-item) {
    @apply hidden;
  }

  .ts-wrapper.multi:not(.input-active) > .ts-control > input[role='combobox'] {
    @apply opacity-0 absolute left-[-10000px];
  }

  .ts-dropdown.multi > .ts-dropdown-content > .option.selected:after {
    @apply hidden;
  }

  .ts-dropdown.multi > .ts-dropdown-content > .option {
    @apply pr-2 flex;
  }

  .ts-dropdown.multi > .ts-dropdown-content > .option > .checkbox {
    --checkbox-border: hsl(var(--foreground));
  }

  .ts-dropdown.multi
    > .ts-dropdown-content
    > .option
    > .autocomplete-multi-label {
    @apply break-words flex-1 min-w-0;
  }
}
