@layer components {
  .avatar {
    @apply flex relative justify-center items-center box-border overflow-hidden;
    @apply align-middle outline-none bg-[--avatar] text-[--avatar-foreground];
  }

  .avatar-default {
    --avatar: hsl(var(--default));
    --avatar-foreground: hsl(var(--default-foreground));
    --avatar-border: hsl(var(--default));
  }

  .avatar-primary {
    --avatar: hsl(var(--primary));
    --avatar-foreground: hsl(var(--primary-foreground));
    --avatar-border: hsl(var(--primary));
  }

  .avatar-secondary {
    --avatar: hsl(var(--secondary));
    --avatar-foreground: hsl(var(--secondary-foreground));
    --avatar-border: hsl(var(--secondary));
  }

  .avatar-success {
    --avatar: hsl(var(--success));
    --avatar-foreground: hsl(var(--success-foreground));
    --avatar-border: hsl(var(--success));
  }

  .avatar-warning {
    --avatar: hsl(var(--warning));
    --avatar-foreground: hsl(var(--warning-foreground));
    --avatar-border: hsl(var(--warning));
  }

  .avatar-danger {
    --avatar: hsl(var(--danger));
    --avatar-foreground: hsl(var(--danger-foreground));
    --avatar-border: hsl(var(--danger));
  }

  .avatar.avatar-sm {
    @apply w-8 h-8 text-xs;
  }

  .avatar.avatar-md {
    @apply w-10 h-10 text-xs;
  }

  .avatar.avatar-lg {
    @apply w-14 h-14 text-sm;
  }

  .avatar.avatar-radius-sm {
    @apply rounded-md;
  }

  .avatar.avatar-radius-md {
    @apply rounded-lg;
  }

  .avatar.avatar-radius-lg {
    @apply rounded-xl;
  }

  .avatar.avatar-radius-full {
    @apply rounded-full;
  }

  .avatar.avatar-bordered {
    @apply ring-2 ring-offset-2 ring-offset-background ring-[--avatar-border];
  }

  .avatar .avatar-img {
    @apply flex object-cover w-full h-full transition-opacity !duration-500 opacity-0;
  }

  .avatar[data-js-loaded='true'] .avatar-img {
    @apply opacity-100;
  }

  .avatar .avatar-fallback {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex items-center justify-center;
  }

  .avatar.avatar-sm .avatar-fallback .icon {
    @apply w-5 h-5;
  }

  .avatar.avatar-md .avatar-fallback .icon {
    @apply w-6 h-6;
  }

  .avatar.avatar-lg .avatar-fallback .icon {
    @apply w-8 h-8;
  }
}
