@layer components {
  .badge {
    @apply relative inline-flex shrink-0;
  }

  .badge .badge-content {
    /* @apply flex z-10 flex-wrap absolute box-border rounded-full whitespace-nowrap place-content-center items-center;
    @apply select-none subpixel-antialiased text-sm px-0 border-2 bg-[--badge] text-[--badge-foreground];
    @apply border-[hsl(var(--background))]; */
    @apply absolute box-border rounded-full whitespace-nowrap;
    @apply select-none border-2 bg-[--badge] text-[--badge-foreground] z-10;
    @apply border-[hsl(var(--background))] !leading-none;
    @apply grid grid-cols-1 place-items-center;
  }

  .badge .badge-content-inner {
    /* px-1 */
  }

  .badge-default {
    --badge: hsl(var(--default));
    --badge-foreground: hsl(var(--default-foreground));
  }

  .badge-primary {
    --badge: hsl(var(--primary));
    --badge-foreground: hsl(var(--primary-foreground));
  }

  .badge-secondary {
    --badge: hsl(var(--secondary));
    --badge-foreground: hsl(var(--secondary-foreground));
  }

  .badge-success {
    --badge: hsl(var(--success));
    --badge-foreground: hsl(var(--success-foreground));
  }

  .badge-warning {
    --badge: hsl(var(--warning));
    --badge-foreground: hsl(var(--warning-foreground));
  }

  .badge-danger {
    --badge: hsl(var(--danger));
    --badge-foreground: hsl(var(--danger-foreground));
  }

  .badge.badge-sm .badge-content {
    @apply min-w-4 min-h-4 text-xs;
  }

  .badge.badge-md .badge-content {
    @apply min-w-5 min-h-5 text-sm;
  }

  .badge.badge-lg .badge-content {
    @apply min-w-6 min-h-6 text-sm;
  }

  .badge.badge-top-right .badge-content {
    @apply top-[5%] right-[5%] translate-x-1/2 -translate-y-1/2;
  }

  .badge.badge-top-left .badge-content {
    @apply top-[5%] left-[5%] -translate-x-1/2 -translate-y-1/2;
  }

  .badge.badge-bottom-right .badge-content {
    @apply bottom-[5%] right-[5%] translate-x-1/2 translate-y-1/2;
  }

  .badge.badge-bottom-left .badge-content {
    @apply bottom-[5%] left-[5%] -translate-x-1/2 translate-y-1/2;
  }

  .badge[data-js-padded='true'] .badge-content {
    @apply px-1;
  }
}
