@layer components {
  .badge {
    @apply relative inline-flex shrink-0;
  }

  .badge-content {
    @apply flex flex-row flex-wrap place-content-center items-center;
    @apply box-border absolute text-xs leading-none;
    @apply min-w-5 h-5 px-1.5 rounded-full;
  }

  .badge-content--default {
    @apply bg-default text-default-foreground;
  }

  .badge-content--primary {
    @apply bg-primary text-primary-foreground;
  }

  .badge-content--secondary {
    @apply bg-secondary text-secondary-foreground;
  }

  .badge-content--success {
    @apply bg-success text-success-foreground;
  }

  .badge-content--warning {
    @apply bg-warning text-warning-foreground;
  }

  .badge-content--danger {
    @apply bg-danger text-danger-foreground;
  }

  .badge-content--rectangle {
    --badge-content-position: 0%;
  }

  .badge-content--circle {
    --badge-content-position: 5%;
  }

  .badge-content--top-right {
    @apply top-[--badge-content-position] right-[--badge-content-position] translate-x-[--badge-content-translate] -translate-y-[--badge-content-translate];
  }

  .badge-content--top-left {
    @apply top-[--badge-content-position] left-[--badge-content-position] -translate-x-[--badge-content-translate] -translate-y-[--badge-content-translate];
  }

  .badge-content--bottom-right {
    @apply bottom-[--badge-content-position] right-[--badge-content-position] translate-x-[--badge-content-translate] translate-y-[--badge-content-translate];
  }

  .badge-content--bottom-left {
    @apply bottom-[--badge-content-position] left-[--badge-content-position] -translate-x-[--badge-content-translate] translate-y-[--badge-content-translate];
  }

  .badge-content--with-content {
    --badge-content-translate: 50%;
  }

  .badge-content--dot {
    --badge-content-translate: 20%;
    @apply h-2 min-w-2 px-0;
  }
}
