@layer components {
  .collapse:not(.show) {
    @apply hidden;
  }

  .collapse {
    visibility: initial !important;
  }

  .collapsing {
    @apply h-0 overflow-hidden motion-reduce:transition-none;
    transition: height 0.25s ease;
  }

  .collapsing.collapse-horizontal {
    @apply w-0 h-auto  motion-reduce:transition-none;
    transition: width 0.25s ease;
  }
}
