@layer components {
  .dropdown {
    @apply relative h-fit w-fit inline-block;
  }

  .dropdown > .dropdown-menu {
    box-shadow: var(--shadow-lg);
    @apply absolute min-w-[200px] rounded-xl p-2;
    @apply text-sm subpixel-antialiased outline-none box-border;
    @apply bg-[hsl(var(--background))] z-[1000] opacity-0;
  }

  .dropdown > .dropdown-menu.show {
    @apply opacity-100 duration-150 transition-opacity block;
  }

  .dropdown > .dropdown-menu > .dropdown-divider {
    @apply my-2;
    @apply px-2;
  }

  .dropdown > .dropdown-toggle .dropdown-rotate {
    @apply transition-transform inline-flex;
  }

  .dropdown > .dropdown-toggle {
    @apply h-fit w-fit inline-block;
  }

  .dropdown > .dropdown-toggle.show .dropdown-rotate {
    @apply rotate-180;
  }

  .dropdown > .dropdown-menu > .dropdown-item {
    @apply flex gap-2 items-center justify-between relative px-2 py-1.5 w-full h-full box-border rounded-lg;
    @apply subpixel-antialiased cursor-pointer tap-highlight-transparent outline-none;
    @apply focus-visible:outline-2 focus-visible:outline-offset-2;
    @apply hover:transition-colors;
  }

  .dropdown-solid > .dropdown-menu > .dropdown-item {
    @apply hover:bg-[--dropdown-item] hover:text-[--dropdown-item-foreground];
    @apply hover:text-[--dropdown-item-foreground];
    @apply focus:bg-[--dropdown-item];
  }

  .dropdown-solid > .dropdown-menu > .dropdown-item:hover * {
    color: var(--dropdown-item-foreground);
  }

  .dropdown-soft > .dropdown-menu > .dropdown-item {
    @apply hover:bg-[--dropdown-item-soft] hover:text-[--dropdown-item-soft-foreground];
    @apply focus-visible:outline-[--dropdown-item-soft];
    @apply focus:bg-[--dropdown-item-soft];
  }

  .dropdown-soft > .dropdown-menu > .dropdown-item:hover > * {
    color: var(--dropdown-item-soft-foreground);
  }

  .dropdown > .dropdown-menu > .dropdown-item-disabled {
    @apply opacity-50 pointer-events-none;
  }

  .dropdown-item-default {
    --dropdown-item: hsl(var(--default));
    --dropdown-item-foreground: hsl(var(--default-foreground));
    --dropdown-item-soft: hsl(var(--default) / 0.4);
    --dropdown-item-soft-foreground: hsl(var(--default-foreground));
  }

  .dropdown-item-primary {
    --dropdown-item: hsl(var(--primary));
    --dropdown-item-foreground: hsl(var(--primary-foreground));
    --dropdown-item-soft: hsl(var(--primary) / 0.2);
    --dropdown-item-soft-foreground: hsl(var(--primary));
  }

  .dropdown-item-secondary {
    --dropdown-item: hsl(var(--secondary));
    --dropdown-item-foreground: hsl(var(--secondary-foreground));
    --dropdown-item-soft: hsl(var(--secondary) / 0.2);
    --dropdown-item-soft-foreground: hsl(var(--secondary));
  }

  .dropdown-item-success {
    --dropdown-item: hsl(var(--success));
    --dropdown-item-foreground: hsl(var(--success-foreground));
    --dropdown-item-soft: hsl(var(--success) / 0.2);
    --dropdown-item-soft-foreground: hsl(var(--success));
  }

  .dropdown-item-warning {
    --dropdown-item: hsl(var(--warning));
    --dropdown-item-foreground: hsl(var(--warning-foreground));
    --dropdown-item-soft: hsl(var(--warning) / 0.2);
    --dropdown-item-soft-foreground: hsl(var(--warning));
  }

  .dropdown-item-danger {
    --dropdown-item: hsl(var(--danger));
    --dropdown-item-foreground: hsl(var(--danger-foreground));
    --dropdown-item-soft: hsl(var(--danger) / 0.2);
    --dropdown-item-soft-foreground: hsl(var(--danger));
  }
}
