@layer components {
  .icon-current {
    --icon: currentColor;
  }

  .icon-default {
    --icon: hsl(var(--default));
  }

  .icon-primary {
    --icon: hsl(var(--primary));
  }

  .icon-secondary {
    --icon: hsl(var(--secondary));
  }

  .icon-success {
    --icon: hsl(var(--success));
  }

  .icon-warning {
    --icon: hsl(var(--warning));
  }

  .icon-danger {
    --icon: hsl(var(--danger));
  }

  .icon {
    @apply inline-block align-middle text-[--icon];
  }

  .icon.icon-sm {
    @apply w-4 h-4;
  }

  .icon.icon-md {
    @apply w-5 h-5;
  }

  .icon.icon-lg {
    @apply w-6 h-6;
  }
}
