@layer components {
  .input {
    --input-placeholder: hsl(var(--neutral1-foreground));
    --input: hsl(var(--foreground));
    --input-label: hsl(var(--neutral2-foreground));
    --input-label-focus: hsl(var(--foreground));
    --input-helper: hsl(var(--neutral2-foreground));
    --input-wrapper-border: hsl(var(--default) / 0.5);
    --input-wrapper-border-hover: hsl(var(--default));
    --input-wrapper-border-focus: hsl(var(--foreground));
    @apply w-full;
  }

  .input-sm {
    --input-label-translate: calc(calc(50% + 0.75rem / 2 - 8px) * -1);
  }

  .input-md {
    --input-label-translate: calc(calc(50% + 0.875rem / 2 - 10px) * -1);
  }

  .input-lg {
    --input-label-translate: calc(calc(50% + 0.875rem / 2 - 8px) * -1);
  }

  .input.input-sm .input-wrapper {
    @apply px-3 min-h-[2rem] rounded-[8px];
  }

  .input.input-md .input-wrapper {
    @apply px-3 min-h-[2.5rem] rounded-[10px];
  }

  .input.input-lg .input-wrapper {
    @apply px-3 min-h-[3rem] rounded-[12px];
  }

  .input.input-sm .input-label {
    @apply text-sm;
  }

  .input.input-md .input-label {
    @apply text-base;
  }

  .input.input-lg .input-label {
    @apply text-base;
  }

  .input.input-sm .input-el {
    @apply text-sm;
  }

  .input.input-md .input-el {
    @apply text-sm;
  }

  .input.input-lg .input-el {
    @apply text-base;
  }

  .input .input-wrapper {
    box-shadow: var(--shadow-sm);
    @apply relative w-full inline-flex tap-highlight-transparent;
    @apply outline-none;
    @apply flex-col items-start justify-center gap-0 cursor-text;
    @apply transition-colors motion-reduce:transition-none;
    @apply border-2 border-[--input-wrapper-border];
    @apply hover:border-[--input-wrapper-border-hover];
  }

  .input[data-focus='true'] .input-wrapper {
    @apply border-[--input-wrapper-border-focus];
  }

  .input .input-el-wrapper {
    @apply inline-flex w-full items-center h-full box-border relative gap-1.5;
  }

  .input .input-label {
    @apply subpixel-antialiased block text-[--input-label];
    @apply pe-2 max-w-full inline-flex items-center gap-1;
  }

  .input[data-focus='true'] .input-label {
    @apply text-[--input-label-focus];
  }

  .input .input-el {
    @apply w-full font-normal bg-transparent outline-none placeholder:text-[--input-placeholder];
    @apply text-[--input] focus-visible:outline-none;
  }

  .input .input-helper {
    @apply p-1 text-xs text-[--input-helper];
    @apply inline-flex items-center gap-1;
  }

  .input[data-invalid] .input-wrapper {
    @apply border-danger;
  }

  .input[data-invalid] .input-label {
    @apply text-danger;
  }

  .input[data-invalid] .input-helper {
    @apply text-danger;
  }

  .input[data-disabled] .input-wrapper {
    @apply pointer-events-none opacity-[--disabled-opacity];
  }

  .input.input-label-inside .input-label {
    @apply absolute justify-center text-ellipsis overflow-hidden pointer-events-none;
    @apply origin-top-left will-change-auto !duration-200 !ease-out;
    @apply motion-reduce:transition-none transition-[transform,color,left,opacity];
  }

  .input.input-label-inside[data-focus='true'] .input-label,
  .input.input-label-inside[data-has-placeholder='true'] .input-label,
  .input.input-label-inside[data-has-value='true'] .input-label {
    @apply scale-[0.85] translate-y-[--input-label-translate];
  }

  .input.input-label-inside[data-has-label='true'] .input-el-wrapper {
    @apply items-end;
  }

  .input.input-sm.input-label-inside .input-wrapper {
    @apply py-1.5 h-12;
  }

  .input.input-md.input-label-inside .input-wrapper {
    @apply py-2 h-14;
  }

  .input.input-lg.input-label-inside .input-wrapper {
    @apply py-2.5 h-16;
  }

  .input.input-label-outside {
    @apply flex flex-col;
  }

  .input.input-label-outside .input-label {
    @apply mb-1;
  }

  .input.input-label-outside-left {
    @apply flex flex-row gap-2;
  }

  .input.input-label-outside-left .input-label {
    @apply shrink self-start;
  }

  .input.input-label-outside-left .input-wrapper {
    @apply grow;
  }

  .input.input-sm.input-label-outside-left .input-label {
    @apply mt-1.5;
  }

  .input.input-md.input-label-outside-left .input-label {
    @apply mt-2;
  }

  .input.input-lg.input-label-outside-left .input-label {
    @apply mt-3;
  }

  .input.input-textarea .input-wrapper {
    @apply !h-auto;
  }

  .input.input-textarea.input.input-label-inside .input-label {
    @apply static scale-[0.85] !translate-y-0;
  }

  .input.input-textarea .input-el {
    @apply resize-none min-h-[60px] max-h-[160px] !overflow-x-auto;
  }

  .input.input-textarea.input-label-outside-left .input-label {
    @apply mt-1;
  }

  .input.input-textarea.input-sm .input-wrapper {
    @apply py-1.5;
  }

  .input.input-textarea.input-md .input-wrapper {
    @apply py-2;
  }

  .input.input-textarea.input-lg .input-wrapper {
    @apply py-2.5;
  }

  .input.input-textarea .input-el-wrapper {
    @apply gap-0;
  }
}
