:root {
  --background: 0 0% 100%;
  --foreground: 202 24% 9%;
  --default: 240 5% 84%;
  --default-foreground: 0 0% 0%;
  --primary: 212 100% 47%;
  --primary-foreground: 0 0% 100%;
  --secondary: 270 67% 47%;
  --secondary-foreground: 0 0% 100%;
  --success: 146 79% 44%;
  --success-foreground: 0 0% 0%;
  --warning: 37 91% 55%;
  --warning-foreground: 0 0% 0%;
  --danger: 339 90% 51%;
  --danger-foreground: 0 0% 100%;
  --ripple: rgba(0, 0, 0, 0.7);
  --divider: 0 0% 7%;

  --muted-foreground: 240 5% 65%;
  --muted-foreground-2: 240 4% 46%;

  --overlay: 0 0% 0%;

  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

  --shadow-md: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.02) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.06) 0px 2px 10px 0px, rgba(0, 0, 0, 0.3) 0px 0px 1px 0px;

  --shadow-lg: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.03) 0px 0px 15px 0px,
    rgba(0, 0, 0, 0.08) 0px 2px 30px 0px, rgba(0, 0, 0, 0.3) 0px 0px 1px 0px;
}

.dark {
  --background: 0 0% 0%;
  --foreground: 210 6% 93%;
  --default: 240 5% 26%;
  --default-foreground: 0 0% 100%;
  --primary: 212 100% 47%;
  --primary-foreground: 0 0% 100%;
  --secondary: 270 59% 58%;
  --secondary-foreground: 0 0% 100%;
  --success: 146 79% 44%;
  --success-foreground: 0 0% 0%;
  --warning: 37 91% 55%;
  --warning-foreground: 0 0% 0%;
  --danger: 339 90% 51%;
  --danger-foreground: 0 0% 100%;
  --ripple: rgba(255, 255, 255, 0.7);
  --divider: 0 0% 100%;

  --muted-foreground: 240 4% 46%;
  --muted-foreground-2: 240 5% 65%;
  --overlay: 0 0% 0%;
}
