:root {
  --background: 0 0% 100%;
  --default: 240 5% 84%;
  --default-foreground: 0 0% 0%;
  --primary: 212 100% 47%;
  --primary-foreground: 0 0% 100%;
  --secondary: 270 67% 47%;
  --secondary-foreground: 0 0% 100%;
  --success: 146 79% 44%;
  --success-foreground: 0 0% 0%;
  --warning: 37 91% 55%;
  --warning-foreground: 0 0% 0%;
  --danger: 339 90% 51%;
  --danger-foreground: 0 0% 100%;
  --ripple: rgba(0, 0, 0, 0.7);
  --divider: 0 0% 7%;
}

.dark {
  --background: 0 0% 0%;
  --default: 240 5% 26%;
  --default-foreground: 0 0% 100%;
  --primary: 212 100% 47%;
  --primary-foreground: 0 0% 100%;
  --secondary: 270 59% 58%;
  --secondary-foreground: 0 0% 100%;
  --success: 146 79% 44%;
  --success-foreground: 0 0% 0%;
  --warning: 37 91% 55%;
  --warning-foreground: 0 0% 0%;
  --danger: 339 90% 51%;
  --danger-foreground: 0 0% 100%;
  --ripple: rgba(255, 255, 255, 0.7);
  --divider: 0 0% 100%;
}
