:root {
  --heading: theme(colors.slate.800);
  --foreground: theme(colors.slate.600);
  /* --link: theme(colors.sky.600); */
  /* --background: theme(colors.stone.50); */

  /* --muted: theme(colors.zinc.100);
  --muted-foreground: theme(colors.slate.500); */

  --border: theme(colors.gray.200);

  /* --muted: 0 0% 90%;
  --muted-foreground: theme(colors.black); */

  --popover: theme(colors.white);
  /* --popover-foreground: ; */

  --neutral-foreground: theme(colors.slate.700);
  --neutral-solid: theme(colors.zinc.200);
  --neutral: theme(colors.zinc.200);
  --neutral-soft: theme(colors.zinc.100);

  --primary: 221.2 83.2% 53.3%;
  --primary-foreground: theme(colors.white);
  /* --primary-soft-foreground:  */

  --secondary: 243.4 75.4% 58.6%;
  --secondary-foreground: theme(colors.white);

  --success: 142.1 76.2% 36.3%;
  --success-foreground: theme(colors.white);

  --error: 0 72.2% 50.6%;
  --error-foreground: theme(colors.white);

  --warning: 38 92% 50%;
  --warning-foreground: theme(colors.black);

  /* --card: theme(colors.white);
  --card-foreground: var(--text-foreground);
  --card-padding: 1.5rem;

  --tab: hsl(var(--primary));
  --tab-card-active: theme(colors.white);
  --tab-pill-foreground: theme(colors.white);
  --tab-segment: theme(colors.gray.100);
  --tab-segment-active: theme(colors.white);

  --dropdown: theme(colors.white); */
}
